<div id="intro" class="view hm-strong">

  <div class="container-fluid d-flex align-items-center">

    <div class="row mx-auto">
      
      <div id="midBox">

        <div class="overlay-img">
        
          <div class="overlay-box">
        
          </div>
        
        </div>

      </div>

      <div id="rightBox">

        <div class="rightInnerBox">

          <span class="semibold">

              <span style="letter-spacing: 1px;">

                <h1 class="display-4">
                  <strong>Aerika</strong>
                </h1>

              </span>

          </span>

          <span class="semibold">

            <span style="letter-spacing: 1px;">

              <h1 class="display-4 lastname">
                Jasso
              </h1>

            </span>

          </span>
          
          <p class="h3">Software Engineer</p>

        </div>

      </div>

    </div>

  </div>

</div>