<section id="contact">

  <footer class="page-footer center-on-small-only">
    
    <div class="container pb-1">

        <div class="col-lg-4 col-md-6 mx-auto">

          <div class="project-header my-4">

            <h1 class="letter-spacing: 4px; text-center mb-4">LET'S CHAT</h1>

          </div>

          <div class="media-links mx-auto">

            <ul>

              <li>

                <a class="link" href="https://linkedin.com/in/aerikajasso">
                  <i class="fa fa-linkedin" aria-hidden="true"></i>
                </a>

              </li>
          
              <li>

                <a class="link" href="https://github.com/AerikaJasso">
                  <i class="fa fa-github" aria-hidden="true"></i>
                </a>

              </li>
          
              <li>

                <a class="link" href="mailto:aerikajasso@gmail.com">
                  <i class="fa fa-envelope" aria-hidden="true"></i>
                </a>

              </li>
          
            </ul>

          </div>
    
        </div>
      
    </div>
    
    <div class="footer-copyright">

      <div class="container">

        <span>© Aerika Jasso (Aerika) 2018</span>
        
      </div>

    </div>
    
  </footer>

</section>
