<mdb-navbar SideClass="navbar navbar-expand-lg lighten-5 bg-white-skin" [containerInside]="true">

<logo>
  <img src="assets/images/name.png" class="img-fluid" alt="Responsive Logo">
</logo>

  <links>
  
    <ul class="navbar-nav nav-flex-icons ml-auto smooth-scroll">
  
      <li class="nav-item waves-light" mdbRippleRadius>

        <a class="nav-link" href="#contact">

          <span style="letter-spacing: 2px;">
            Contact
          </span>
          
        </a>

      </li>
  
      <li class="nav-item waves-light" mdbRippleRadius>

        <a class="nav-link" href="#about">

          <span style="letter-spacing: 2px;">
            About
          </span>

        </a>

      </li>
  
      <li class="nav-item waves-light" mdbRippleRadius>

        <a class="nav-link" href="#projects">

          <span style="letter-spacing: 2px;">
            Projects
          </span>

        </a>

      </li>

        <li class="nav-item waves-light" mdbRippleRadius>
          
          <a class="nav-link" href="assets/AerikaResume.pdf">
          
            <span style="letter-spacing: 2px;">
              Resume
            </span>
          
          </a>
          
        </li>
  
    </ul>
  
  </links>
 
</mdb-navbar>





