<div class="main">

 <div class="container d-flex align-items-center">

  <section class="text-center pb-1" id="about">

    <p data-font-size="20px" data-line-height="30px">

      <span style="letter-spacing: 4px">
        <span class="regular">HI THERE</span>
      </span>

    </p>
    <span class="semibold py-2">

      <span style="letter-spacing: 4px;">
        ABOUT ME
      </span>
      
    </span>

    <div class="img-section">

      <div class="avatar mx-auto">
        <img src="assets/images/me2.png" class="rounded-circle img-fluid" alt="self portrait">
      </div>

    </div>

    <div class="row d-flex justify-content-center mb-4">

      <div class="col-md-8">

        <p style="text-align: center;">
        
          <span class="sub-content one">
            It's nice to meet you. I am a software engineer currently developing MEAN stack and Ruby on Rails applications. I am an ardent
            problem solver propelled by curiosity and grit.
          </span>
        
        </p>
        
        <p style="text-align: center">
        
          <span class="sub-content two">
            I have a broad range of interests, with a slight bias towards the peculiar. I embrace challenges, and find joy in progress.
          </span>
        
        </p>
        
        <p style="text-align: center">
        
          <span class="sub-content three">
            If you would like to be in touch, poke around and drop me a line or two on LinkedIn or email.
          </span>
        
        </p>

      </div>

    </div>
  </section>

 </div>

</div>