<div class="main">

    <section id="projects">

        <div class="container d-flex align-items-center">

                <div class="projects-section">

                    <div class="row header">

                        <div class="project-header mx-auto my-4">

                            <div class="semibold">
                                <span style="letter-spacing: 2px;">
                                    FEATURED PROJECTS
                                </span>
                            </div> 

                        </div>

                    </div>

                    <div class="row">
                        
                        <div class="col-lg-6 col-md-6">
                        
                            <div class="card-container">
                            
                                <div class="card">
                            
                                    <div class="front" style="background-image: url('assets/images/project1.png');" >

                                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 project-content">
                                            <div>
                                        
                                                <p data-font-size="20px" data-line-height="30px">
                                        
                                                    <span style="letter-spacing: 4px">
                                                        <span class="regular">VOTE NOW</span>
                                                    </span>
                                        
                                                </p>
                                                <p class="pb-3">
                                                    A real time polling application. Backend built with Node.js and Express, Pusher API(for real time subscription), MongoDB, VanillaJS, and CanvasJS.
                                                </p>
                                                
                                            </div>
                                        
                                        </div>
                                    
                                    </div>   
                            
                                </div>
                            
                            </div>

                        </div>

                        <div class="col-lg-6 col-md-6">
                        
                            <div class="card-container">
                        
                                <div class="card">
                                    <div class="front" style="background-image: url('assets/images/project2.png');">

                                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 project-content">
                                            <div>
                                        
                                                <p data-font-size="20px" data-line-height="30px">
                                        
                                                    <span style="letter-spacing: 4px">
                                                        <span class="regular">COIN EXHANGE</span>
                                                    </span>
                                        
                                                </p>
                                                <p class="pb-3">
                                                    Coinful is an app that allows users to select which CryptoCurrency they want to follow, and it provides up to date currency exhange rates. Built with Ionic 3, & Angular 4.
												</p>
                                                
                                            </div>
                                        
                                        </div>
                                        
                                    </div>
                        
                                </div>
                        
                            </div>
                        
                        </div>

                        <div class="col-lg-6 col-md-6">
                        
                            <div class="card-container">
                        
                                <div class="card">

                                    <div class="front" style="background-image: url('assets/images/project3.png');">

                                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 project-content">
                                            <div>
                                        
                                                <p data-font-size="20px" data-line-height="30px">
                                        
                                                    <span style="letter-spacing: 4px">
                                                        <span class="regular">RunFit</span>
                                                    </span>
                                        
                                                </p>
                                                <p class="pb-3">
                                                    A running journal created with Angular 5 that logs your running activity via gps. The running logs displays the route collected with gpx data. The map is provided by the Leaflet library and the tiles provided by Mapbox api.
												</p>
                                            
                                            </div>
                                        
                                        </div>
                                        
                                    </div>
                        
                        
                                </div>
                        
                            </div>
                        
                        </div>

                        <div class="col-lg-6 col-md-6">
                        
                            <div class="card-container">
                        
                                <div class="card">
                        
                                    <div class="front" style="background-image: url('assets/images/project4.png');">

                                        <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4 project-content">
                                            <div>

                                                <p data-font-size="20px" data-line-height="30px">
                                                
                                                    <span style="letter-spacing: 4px">
                                                        <span class="regular">OPEN WIRE</span>
                                                    </span>
                                                
                                                </p>
                                                <p class="pb-3">
                                                    A basic website built with a contact form utilizing the nodemailer module. Allowing you to process and send a contact form to a specified email address. Created with Node.js, Express, Nodemailer api, and ejs.
                                                </p>
                                                
                                            </div>

                                        </div>
                                    
                                    </div>
                                    
                                </div>
                        
                            </div>
                        
                        </div>

                    </div>

                </div>

            </div>

    </section>

</div>
